/* I like having a Nav */
nav{
    background-color: #0B162A;
    border: #0B162A solid;
}

/* and since we just learned some styling */
a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    color:#C83803;
    display: inline-block;
}

button {
    display: inline;
    padding: 7px;
}

body{
    background-color: antiquewhite;
}

button{
    background-color: #0B162A;
    color: #C83803;
    border:#C83803 dotted 2px;
}
.joustBird {
    height: 500px;
    display:none;
}